* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background-color: #383b38;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/* Header */
header {
  background-color: #8a0000;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  margin-right: 15px;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3AMSU_-_Gensan_logo.png&psig=AOvVaw1tfXMhN_cTEm1m8dKYt3pJ&ust=1756823411935000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJj-razjt48DFQAAAAAdAAAAABAE');
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  background-color: #ff0000;
  padding: 10px 20px;
  color: hsl(0, 100%, 98%);
  border-radius: 5px;
  font-weight: bold;
}

/* About Section */
.about {
  background-color: rgb(68, 64, 64);
  padding: 50px 20px;
  text-align: center;
}

.about h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

/* News Section */
.news {
  background-color: #3f3838;
  padding: 50px 20px;
  text-align: center;
}

.news h2 {
  color: #f8f7f7;
  margin-bottom: 30px;
}

.news-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.news-card {
  background-color: rgb(60, 66, 66);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 10px rgba(248, 155, 155, 0.1);
}

/* Footer */
footer {
  background-color: #ce0808;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
.msu-logo {
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #006400; /* MSU green */
}

.msu-symbol {
  font-size: 32px;
  margin-right: 10px;
}

.msu-text {
  letter-spacing: 1px;
}
.msu-logo img {
  height: 40px;
  margin-right: 10px;
}
.msu-logo span {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; /* MSU green */
}

